{% extends 'layouts/main.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8 py-3 bg-lightgray">
                <h3 class="text-light">
                    Вход
                </h3>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="text-gray" for="id_username">Логин</label>
                        <input type="text" class="form-control" id="id_username" name="username" placeholder="Введите логин" required>
                    </div>
                    <div class="form-group">
                        <label class="text-gray" for="id_password">Пароль</label>
                        <input type="password" class="form-control" id="id_password" name="password" placeholder="Введите пароль" required>
                    </div>
                    <button type="submit" class="btn btn-danger">Войти</button><br>
                    <span class="text-gray">Еще нет аккаунта? <a href="{% url 'signup' %}">Зарегистрироваться</a></span>
                    {% if form.non_field_errors %}
                        <br>
                        <br>
                        <ul class="text-danger">
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}