{% extends 'layouts/main.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/spoilers.css' %}">
{% endblock %}

{% block content %}
    <div class="container py-3 bg-lightgray shadow-sm">
        <h3 class="category-title text-light">О нас</h3>
        <div class="spoiler_links text-gray">История создания команды</div>
        <div class="spoiler_body text-gray" style="display: none;">
            <p>
                Студия образована в 2016 в конце весны компанией дикторов и переводчиков по
                инициативе Paladin82 и Aleko в числе которых были Frost, Lilou, Совушка, Алруна,
                Игорь Юхименко, Psyho19, Артур Дроздик и другие.<br>
                Сначала руководство осуществлялось советом основателей. Позже общим решением
                админами выбраны были Paladin82 и Aleko.<br>
                С 2017 новым админом стал Acrollix, с 2019 сложила админские полномочия и
                перешла в кураторы Aleko.<br>
                В настоящее время руководителями студии являются Paladin82 и Acrollix.<br>
                Студия занимается разнообразным творчеством, основной деятельностью является
                закадровое озвучивание фильмов, дорам, сериалов, аниме и мультфильмов,
                также студия выполняет озвучку книг, создает оригинальные песни и делает
                кавер версии песен, делает смешную озвучку, озвучивает игры, занимается
                переводами, с 2020 года студия готовится делать работы по озвучиванию
                в рамках дубляжа.
            </p>
        </div>

        <div class="spoiler_links text-gray">Наши дикторы на заказ</div>
        <div class="spoiler_body text-gray" style="display: none;">
            <p>
                Paladin82<br>
                Acrollix<br>
                Mashylika5<br>
                Navnushka<br>
                Ofelia<br>
                Mikelo-San<br>
                Никанор Эрнестович<br>
                Эльмира Бестия<br>
                Mr.Goodness<br>
                NightWillFall<br>
                Badlesh<br>
                Skim<br>
                MiafKun<br>
                Кто-то Там<br>
                Nilovich<br>
                Dan Molodoy<br>
                Paria
            </p>
        </div>

        <div class="spoiler_links text-gray">Админы</div>
        <div class="spoiler_body text-gray" style="display: none;">
            <p>
                <b>Paladin82</b> — админ, основатель, диктор,
                переводчик, вокалист, поэт, писатель, веб-дизайнер.<br>
                <b>Acrollix</b> — админ, диктор, звукорежиссер, дизайнер,
                видеомонтажер, веб-дизайнер, художник.
            </p>
        </div>

        <div class="spoiler_links text-gray">Глава дикторского отдела</div>
        <div class="spoiler_body text-gray" style="display: none;">
            <p>
                <b>Mashylika5</b> — диктор, звукорежиссер.
            </p>
        </div>

        <div class="spoiler_links text-gray">Кураторы отделов</div>
        <div class="spoiler_body text-gray" style="display: none;">
            <p>
                <b>LightofChristmas</b> — глава отдела переводов, отдела аудиокнги, глава
                отдела короткометражной анимации, отдела инстаграм и ютуб, диктор, переводчик.<br>
                <b>Xade</b> — глава отдела онгоингов, диктор, звукорежиссер.<br>
                <b>Navnushka</b> — глава отдела сериалов и кино, диктор, аплоадер. менеджер по рекламе.<br>
                <b>Ofelia</b> — глава отдела дорам, диктор, звукорежиссер.<br>
                <b>Mikelo-San</b> — глава отдела аниме, диктор, звукорежиссер, видеомонтажер.<br>
                <b>Никанор Эрнестович</b> — глава отдела озвучки игр, отдела новостей, отдела смешной озвучки,
                диктор, видеомонтажер, сценарист, вокалист, музыкант, режиссер.<br>
                <b>FallenMonk</b> — глава отдела телеграм, аплоадер, диктор.
                <b>Кто-то Там</b> — глава отдела дубляжа, звукорежиссер, диктор.
                <b>Пчелка</b> — глава отдела азиатских новостей.
            </p>
        </div>

        <div class="spoiler_links text-gray">Дикторы</div>
        <div class="spoiler_body text-gray" style="display: none;">
            <p>
                Onamus<br>
                Nblaaa<br>
                KimMira<br>
                Mewleika<br>
                Мила<br>
                Freak<br>
                Эльмира Бестия<br>
                Mr.Goodness<br>
                NightWillFall<br>
                MiafKun<br>
                FartoviyHronic<br>
                Badlesh<br>
                Yami<br>
                Heby<br>
                Любава<br>
                Skim<br>
                Aelin<br>
                Esposito<br>
                Reuhter<br>
                Александр Ударцев<br>
                Mirai<br>
                Дмитрий Гагин<br>
                Sunny<br>
                Ani Vailet<br>
                Neasity<br>
                Vio<br>
                Duimovochka<br>
                Seledka<br>
                vonRosenberg<br>
                axealik<br>
                Edison<br>
                Osmi<br>
                WithoutDoubts<br>
                Elzu<br>
                Nilovich<br>
                Dan Molodoy<br>
                Sir_ananas<br>
                L4zyEzhik<br>
                ЛиловыйЗвездопад<br>
                ShiratoruMiroto<br>
                41-й Ронин<br>
                Тыковка<br>
                Remizaki<br>
                Paria<br>
                Franky<br>
                Maestro<br>
                Богдан Ващенко<br>
                Beshow<br>
                Люция Цой<br>
                Саша Ефремова<br>
                Ирина Перенчевич<br>
                Алруна<br>
                Diese
            </p>
        </div>

        <div class="spoiler_links text-gray">Технари</div>
        <div class="spoiler_body text-gray" style="display: none;">
            <p>
                Rikuza<br>
                WerSoot
            </p>
        </div>

        <div class="spoiler_links text-gray">Переводчики</div>
        <div class="spoiler_body text-gray" style="display: none;">
            <p>
                Центурион<br>
                Lilou<br>
                Frost<br>
                Gary Vadu<br>
                FooBoo
            </p>
        </div>

        <p class="text-gray" style="margin-top: 1rem;">
            Студия работает как на некоммерческой основе так и под заказ.<br>
            Официальная группа студии в сети вконтакте — <a href="https://vk.com/frondastudio">vk.com/frondastudio</a><br>
            <br>
            По всем вопросам обращаться к руководителям студии:<br>
            &gt;&gt; Paladin82 <a href="https://vk.com/paladin82">vk.com/paladin82</a><br>
            &gt;&gt; Acrollix <a href="https://vk.com/shashkov931">vk.com/shashkov931</a>
        </p>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/spoilers.js' %}"></script>
{% endblock %}